.asset-sidebar article {
  margin-bottom: 2em;
}

.asset-sidebar header {
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.sidebar-header {
  color: var(--color-info);
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.sidebar-header:hover .no-animation {
  color: unset;
}

.sidebar-header:hover .hover-animation {
  color: var(--color-border-dark);
}

.sidebar-header,
.sidebar-header h3 {
  font-weight: 100;
  font-size: 14px;
}

.sidebar-header .heart-label::before {
  top: 2px;
  margin-right: 5px;
  filter: invert(61%) sepia(0%) saturate(17%) hue-rotate(139deg) brightness(97%) contrast(89%);
}

.sidebar-list li {
  margin: 5px -10px 5px 0;
}

.sidebar-list .avatar {
  display: block;
}

.sidebar-list .avatar img {
  border: 2px solid var(--color-border-light);
}

.sidebar-cover-bg {
  background-image: url(../../static/images/playlist-bg-small.png);
  height: 60px;
  width: 62px;
  padding: 5px 6px;
  margin-right: 4px;
}

.sidebar-cover {
  width: 50px;
  height: 50px;
}

.asset-sidebar .github-badge {
  background-color: black;
  border-radius: .5em;
  gap: .75em;
  padding: .5em .75em;
  color: white;
  align-items: center;
  width: fit-content;
  font-size: .75em;
}

.asset-sidebar .github-badge .white-bg,
.asset-sidebar .github-badge img {
  border-radius: 50%;
}

.asset-sidebar .github-badge img {
  width: 25px;
  height: 25px;
  filter: invert(1);
  -webkit-filter: invert(1);
}

.sidebar-credits a {
  width: fit-content;
  display: block;
}

.sidebar-tech-list {
  gap: .5em;
  flex-wrap: wrap;
}

.sidebar-tech-list img {
  border-radius: .25em;
  filter: saturate(75%);
}