.tile {
  width: 150px;
}

.overlay-group {
  position: relative;
}

.tile-cover {
  height: 150px;
  width: 150px;
}

.overlay-single {
  width: 100%;
  height: 100%;
  color: white;
}

.overlay-single:hover {
  opacity: 1;
}

.overlay-group .overlay-shaded {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
  color: white;
}

.overlay-group .overlay-play,
.overlay-group .overlay-shaded {
  opacity: 0;
  transition: opacity 0.15s;
}

.overlay-group:hover .overlay-play,
.overlay-play.standout,
.overlay-group:hover .overlay-shaded {
  opacity: 1;
}

.overlay-play.standout {
  color: var(--color-primary);
}

.overlay-single {
  justify-content: center;
}

.overlay-play {
  position: absolute;
  top: 35%;
  right: 35%;
  bottom: 35%;
  left: 35%;
  font-size: 2.5em;
  background: none;
  box-shadow: none;
  border: none;
  color: white;
  cursor: pointer;
  transition: font-size 0.2s, color 0.2s;
}

.overlay-play:hover {
  font-size: 2.75em;
  color: orangered;
}

.overlay-play,
.overlay-actions,
.overlay-like {
  z-index: 10;
}

.mini .overlay-play {
  font-size: 1em;
}

.mini .overlay-play:hover {
  font-size: 1.1em;
}

.overlay-shaded {
  position: absolute;
  height: 25%;
  width: 100%;
  bottom: 0;
}

.overlay-like,
.overlay-actions {
  position: absolute;
  bottom: 30%;
}

.overlay-like {
  right: 8%;
}

.overlay-actions {
  left: 8%;
}

.dropdown-container {
  position: absolute;
  left: 1px;
  background-color: white;
  box-shadow: 0px 0px 4px black;
  border-radius: 2px;
  color: #151515;
  font-size: 15px;
  width: 160px;
  z-index: 5;
}

.dropdown-list {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style: none;
  border-radius: 3px;
}

.dropdown-list li {
  border-bottom: #15151518 solid .1px;
  height: 100%;
  width: 100%;
  padding: 5px;
  align-items: center;
}

.dropdown-list li:hover {
  background-color: rgba(128, 128, 128, 0.419);
  width: 100%;
}

.cg-icon {
  font-size: 22px;
  transform: scale(1, -1);
}

.liked {
  text-decoration: double;
  color: orangered;
}

.not-liked {
  color: white;
}

.liked,
.not-liked {
  font-size: 1em;
  background: none;
  box-shadow: none;
  border: none;
  transition: font-size 0.2s, color 0.3s;
}

.liked:hover,
.not-liked:hover {
  font-size: 1.1em;
}

.tile-info {
  margin-top: 10px;
}

.tile-info h3 {
  font-weight: 400;
  text-decoration: none;
  font-size: 20px;
  color: rgb(55, 55, 55);
}

.tile-info h3:hover {
  color: black;
}

.tile-info span {
  font-size: 15px;
  font-family: sans-serif;
  color: rgb(153, 153, 153);
}

.tile-info span:hover {
  color: rgb(55, 55, 55);
}

.dropdown-hamburger {
  font-size: 24px;
  font-weight: 700;
  position: relative;
}

.hamburger-icon {
  font-size: 22px;
  position: absolute;
  top: -24px;
  left: 5px;
}

.hamburger-icon:hover {
  opacity: .95;
  color: rgba(128, 128, 128, 0.686);
}
