* {
  --common-width: 400px;
  --common-margin-bottom: 15px;
}

.login_modal_container {
  width: 450px;
  border: white solid 10px;
  padding: 40px 10px 80px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_modal_container form {
  width: 450px;
  margin: 15px auto 0;
}

.login_modal_container form button {
  font-size: 16px;
  height: 40px;
  line-height: 18px;
  padding: 10px 15px;
  width: var(--common-width);
  height: 40px;
  border: none;
  border-radius: 3px;
  color: #fff;
}

.login_modal_container form button:hover {
  box-shadow: 0px 0px 2px .2px grey;
}

.login_modal_container form button,
.divider {
  margin-bottom: var(--common-margin-bottom);
}

button.demo {
  background-color: black;
}

button.toggle {
  background-color: #3578e5;
}

.divider {
  width: var(--common-width);
  height: 30px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.div-line {
  align-self: stretch;
  height: 1px;
  background-color: black;
}

.divider h3 {
  width: 60px;
  background-color: white;
  position: absolute;
  top: 7px;
  z-index: 10;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
}

.login_modal_container form input {
  width: var(--common-width);
  height: 40px;
  border-radius: 5px;
  border: .1px grey solid;
  padding: 10px;
  margin-bottom: var(--common-margin-bottom);
}

.form_button {
  justify-content: center;
}

.auth_links {
  color: #f50;
  cursor: pointer;
}

.cnt-login {
  background-color: #FF5500;
  margin-top: 15px;
}

.proF-icon {
  position: absolute;
  margin-left: -25px;
  font-size: 20px;
  margin-top: -2px;
}

.legal {
  width: var(--common-width);
  margin-top: 10px;
  color: #999;
  font-weight: 100;
  font-size: 12px;
}
