.modal-song-form {
  height: 550px;
}

.modal-user-form {
  height: 400px;
}

.modal-playlist-form {
  max-height: 800px;
}

.modal-form {
  position: relative;
}

.song-form-container,
.playlist-form-container,
.user-form-container {
  gap: 20px;
  padding: 20px 0;
}

.song-form-container {
  width: 700px;
}

.user-form-container {
  width: 730px;
}

.playlist-form-container {
  width: 800px;
}

.modal-form h2 {
  border-bottom: 2px solid var(--color-primary);
  color: var(--color-primary);
  font-size: 24px;
  width: fit-content;
  margin: 0 10px;
}

.song-form-left,
.playlist-form-left,
.user-form-left {
  align-items: center;
  position: relative;
  padding: 0 10px;
}

.song-form-left {
  width: 270px;
}

.playlist-form-left,
.user-form-left {
  width: 280px;
}

.song-form-right {
  width: 400px;
}

.playlist-form-right {
  width: 490px;
}

.user-form-right {
  width: 420px;
}

.modal-form label {
  font-size: 12px;
  margin-bottom: 10px;
  align-self: flex-start;
}

.modal-form input,
.modal-form textarea {
  margin-bottom: 20px;
}

.modal-form input:focus,
.modal-form textarea:focus {
  outline: none;
}

.modal-form textarea {
  height: 130px;
}

.modal-form>footer {
  position: absolute;
  bottom: 20px;
  padding: 0 20px;
  width: 100%;
}

.modal-form .info-text {
  color: var(--color-info);
}

.modal-form .info-text,
.modal-form .error-text {
  align-self: flex-start;
  margin: 10px 5px;
  font-size: 12px;
}

.error-block {
  padding: 20px 0;
  font-size: 12px;
}

.label-required:after {
  content: "*";
  color: var(--color-warning);
  display: inline-block;
  margin-left: 2px;
}

.modal-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 20px;
}

.image-button {
  z-index: 1;
}

.replace-image-button {
  width: 125px;
  /* right: 20px; */
}

.upload-image-button {
  width: 135px;
  /* left: 57.5px; */
}

.audio-button {
  width: 200px;
}

.image-button,
.audio-button {
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 10px 4px;
}

.upload-image-camera {
  background-image: url(https://a-v2.sndcdn.com/assets/images/camera-2d93bb05.svg);
}

.upload-audio-note {
  background-image: url(../../static/images/logo/music-solid.svg);
}

.upload-image-camera,
.upload-audio-note {
  width: 15px;
  height: 12px;
  background-size: 15px 12px;
}

.legend-required {
  font-size: 12px;
}

.legend-required:before {
  content: "*";
  color: var(--color-warning);
  display: inline-block;
  margin-right: 2px;
}

.form-action {
  justify-content: space-between;
  align-items: center;
}

.form-action-buttons {
  align-items: center;
  gap: 10px;
}
