/* Base Styles */
* {
  --page-container-bottom-margin: 75px;
  --color-border-dark: #333;
  --color-border: #e5e5e5;
  --color-border-light: #f2f2f2;
  --color-primary: #f50;
  --color-warning: #cf0000;
  --color-off-white-bg: #f2f2f2;
  --color-info: #999;
  --filter-primary: invert(43%) sepia(42%) saturate(6441%) hue-rotate(2deg) brightness(104%) contrast(105%);
  --filter-info: invert(63%) sepia(6%) saturate(15%) hue-rotate(352deg) brightness(95%) contrast(91%);
  --height-navbar: 46px;
  --x-margin: 5vw;
  --dim-song-row-thumb: 30px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Interstate, "Lucida Grande", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--color-off-white-bg);
}

a {
  text-decoration: none;
  color: black;
}

nav ul,
ul.menu {
  list-style: none;
}

li button {
  border: none;
  background-color: transparent;
}

fieldset {
  border: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-rev {
  display: flex;
  flex-direction: row-reverse;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-rev {
  display: flex;
  flex-direction: column-reverse;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.full-box {
  height: 100%;
  width: 100%;
}

.error-text {
  color: var(--color-warning);
}

.info-text {
  color: var(--color-info);
}

.hidden {
  visibility: hidden;
}

/* Layouts */
.page-container {
  background-color: white;
  margin: 0px var(--x-margin) var(--page-container-bottom-margin);
  padding: 0 25px;
}

.one-column {
  align-items: center;
}

.two-columns {
  position: relative;
}

.mainfeed {
  padding: 0;
  margin: 0 330px 0 0;
  position: relative;
}

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
}

.notification {
  position: fixed;
  background-color: white;
  box-shadow: 0px 0px 10px var(--color-info);
  z-index: 100;
  font-size: 14px;
  color: var(--color-border-dark);
  padding: 5px;
}

.top-right {
  top: 60px;
  right: 50px;
}

/* Spinning Pinwheel */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinning {
  animation: spin 1.5s linear infinite;
}

.pinwheel {
  width: 40px;
  height: 40px;
}

.sticky-nav {
  margin: 0;
  padding: 20px 0;
  position: sticky;
  top: 40px;
  background-color: white;
  z-index: 3;
  border-bottom: 1px solid var(--color-border);
}

/* ---- Reuseables ---- */
/* StickyNav */
.sticky-nav ul {
  gap: 30px;
  font-size: 24px;
  font-weight: 400;
}

.sticky-nav a {
  text-decoration: none;
  color: black;
}

.sticky-nav a.active {
  border-bottom: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.sticky-nav a:hover {
  border-bottom: 2px solid;
}

/* Showcase */
.showcase {
  margin-top: 16px;
}

.showcase h3 {
  font-size: 18px;
  font-weight: 400;
}

.showcase-grid {
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 50px;
}

/* Color Schemes */
.placeholder {
  background-image: linear-gradient(135deg, #8e8485, #70929c);
}

.white-bg {
  background-color: white;
}

.circle {
  border-radius: 50%;
}

/* LoadingModal */
#loading-modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 13;
}

#loading-modal-bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(200, 200, 200, 0.7);
}

#loading-modal-content {
  position: absolute;
  background-color: transparent;
}

.loading {
  height: 600px;
  width: 600px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading-modal .pinwheel {
  height: 100px;
  width: 100px;
}

/* Motifs: Buttons */
/* Composite Buttons */
.composite-button {
  align-items: center;
  gap: 5px;
  border-radius: 2px;
  padding: 3px 8px 2px;
  width: max-content;
}

.button-action,
.button-attention {
  color: var(--color-border-dark);
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid var(--color-border);
  box-shadow: none;
  transition: all 0.2s ease 0s;
}

.button-action:hover,
.button-attention:hover {
  background-color: white;
  box-shadow: 0px 0px 2px var(--color-border);
}

.button-action:hover {
  border: 1px solid var(--color-border-dark);
}

.button-attention:hover {
  border: 1px solid var(--color-primary);
}

.button-toggle {
  background-color: white;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.label-toggle::before {
  filter: var(--filter-primary);
}

.info-text .logo-before::before {
  filter: var(--filter-info);
}


/* Simple Buttons */
.simple-button {
  border: none;
  padding: 5px 10px 3px;
  border-radius: 3px;
}

.button-submit {
  background-color: var(--color-primary);
  color: var(--color-border-light);
}

.button-cancel {
  background-color: var(--color-border-light);
  color: var(--color-border-dark);
}

.button-delete {
  background-color: var(--color-warning);
  color: var(--color-border-light);
}

/* Button Sizes */
.b1 {
  font-size: 14px;
  line-height: 20px;
}

.b2 {
  font-size: 13px;
  line-height: 20px;
  padding: 3px 10px;
}

.b3 {
  font-size: 11px;
  line-height: 16px;
}

.b3.composite-button {
  padding: 0 5px 3px;
  scale: 0.9;
}

/* Button Pseudo-Elements */
.logo-before::before {
  position: relative;
}

.b1 .logo-before::before,
.b2 .logo-before::before {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.b2 .logo-before::before {
  top: 3px;
}

.b3 .logo-before::before {
  top: 5px;
}

.camera-label::before {
  content: url(./static/svgs/camera.svg);
}

.heart-label::before {
  content: url(./static/svgs/heart.svg);
}

.chain-label::before {
  content: url(./static/svgs/chain.svg);
}

.pencil-label::before {
  content: url(./static/svgs/pencil.svg);
}

.enqueue-label::before {
  content: url(./static/svgs/enqueue.svg);
}

.enlist-label::before {
  content: url(./static/svgs/enlist.svg);
}

.trash-label::before {
  content: url(./static/svgs/trash.svg);
}

.ellipses-label::before {
  content: url(./static/svgs/ellipses.svg);
}

.stack-label::before {
  content: url(./static/svgs/stack.svg);
  margin-right: 5px;
  top: 2px;
}

.waveform-label::before {
  content: url(./static/svgs/waveform.svg);
}

.b2 .logo-before.ellipses-label::before {
  top: -3px;
}

.b3 .logo-before.ellipses-label::before {
  top: 0;
}

.b2 .logo-before.enqueue-label::before {
  top: 5px;
}

.l3 .logo-before {
  justify-content: flex-start;
  align-items: center;
}

.l3 .logo-before.enqueue-label::before {
  top: 2px;
  left: -4px;
}

.l3 .logo-before.enlist-label::before {
  margin-right: 3px;
}

.info-text.l3 .waveform-label {
  max-height: 12px;
  margin-left: -5px;
}

.info-text.l3 .waveform-label::before {
  scale: 0.7;
}

/* Dropdown Styles */
.button-group-menu {
  background-color: white;
  box-shadow: 0px 0px 4px var(--color-border);
  align-items: flex-start;
}

.button-group-menu li {
  align-items: center;
}

.button-group-menu {
  width: 120px;
  left: 1;
  top: 30px;
}

.button-group-menu.l3 {
  width: 130px;
  top: 24px;
  left: 2px;
  z-index: 7;
}

.button-group-menu li {
  height: 24px;
  width: 100%;
  padding-left: 10px;
  font-size: 14px;
  align-items: center;
}

.button-group-menu.l3 li {
  height: 20px;
  padding-left: 10px;
  font-size: 12px;
  border: none;
}

/* Hover Animation */
.hover-animated {
  opacity: 0;
  transition: opacity 0.15s;
}

.hover-animated:hover {
  opacity: 1;
}

/* Asset (songs, playlists) Banners */
.asset-banner {
  background: linear-gradient(135deg, rgb(185, 172, 182) 0%, rgb(107, 108, 108) 100%);
  position: relative;
  margin: 0 var(--x-margin);
  align-items: center;
  padding: 30px 20px 20px 30px;
  gap: 30px;
  height: 390px;
}

.asset-banner-left {
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.asset-banner-top-left {
  align-items: flex-start;
  width: 100%;
  gap: 20px;
}

.asset-banner-play {
  font-size: 3em;
  color: var(--color-primary);
  transition: color 0.15s;
}

.asset-banner-play:hover {
  color: rgb(255, 47, 0);
}

.asset-banner-info {
  width: 100%;
  justify-content: space-between;
}

.asset-banner-info time {
  color: white;
  font-weight: 200;
}

.asset-banner-ident {
  gap: 5px;
}

.asset-banner-ident h2,
.asset-banner-ident p {
  background-color: var(--color-border-dark);
  color: white;
  padding: 4px 8px;
  font-weight: 300;
}

.asset-secondary {
  gap: 30px;
  padding-top: 20px;
}

.asset-main {
  width: 70%;
}

.asset-button-group {
  padding: 0 0 12px;
  border-bottom: 1px solid grey;
  width: 100%;
  gap: 5px;
}

.asset-sidebar {
  width: 30%;
}

/* Asset LI cards */
.asset-ul {
  margin: 15px 0;
}

.asset-ul li {
  padding: 10px 0;
  border-top: 1px solid var(--color-border-light);
  gap: 10px;
}

.asset-li-left {}

.asset-li-right {
  justify-content: space-between;
  align-items: center;
}

.asset-li-details {
  color: var(--color-border-dark);
  gap: 3px;
}

.asset-li-details,
.asset-li-details h3 {
  font-weight: 100;
  font-size: 14px;
}

.asset-li-details h3,
.asset-li-details footer {
  color: var(--color-info);
  transition: color 0.3s;
}

.asset-li-details h3:hover {
  color: var(--color-border-dark);
}

.asset-li-details .heart-label::before {
  top: 2px;
  margin-right: 2px;
  filter: invert(61%) sepia(0%) saturate(17%) hue-rotate(139deg) brightness(97%) contrast(89%);
}

.asset-li-actions {}

.song-button {
  border: 1px solid var(--color-info);
  background-color: transparent;
  border-radius: 4px;
  padding: 3px 10px;
}

.song-button:hover {
  border: 1.1px solid var(--color-border-dark);
}

.song-button.highlighted {
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.song-button.highlighted:hover {
  border-width: 1.1px;
}
