* {
  --page-container-bottom-margin: 75px;
  --color-border-dark: #333;
  --color-border: #e5e5e5;
  --color-border-light: #f2f2f2;
  --color-primary: #f50;
  --color-warning: #cf0000;
  --color-off-white-bg: #f2f2f2;
  --color-info: #999;
  --height-navbar: 46px;
  --x-margin: 5vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Interstate, "Lucida Grande", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
  --user-banner-url: url("https://i.ytimg.com/vi/zob-2dpRtH0/maxresdefault.jpg");
}

a {
  text-decoration: none;
  color: black;
}

nav ul,
ul.menu {
  list-style: none;
}

li button {
  border: none;
  background-color: transparent;
}

fieldset {
  border: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.error-text {
  color: var(--color-warning);
}

.hidden {
  visibility: hidden;
}

.page-container {
  background-color: white;
  margin: 0px var(--x-margin) var(--page-container-bottom-margin);
  padding: 0 25px;
}

.one-column {
  align-items: center;
}

.two-columns {
  position: relative;
}

.mainfeed {
  padding: 0;
  margin: 0 330px 0 0;
  position: relative;
}

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
}

.spinning {
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.pinwheel {
  width: 40px;
  height: 40px;
}

.sticky-nav {
  margin: 0;
  padding: 20px 0;
  position: sticky;
  top: 40px;
  background-color: white;
  z-index: 3;
  border-bottom: 1px solid var(--color-border);
}

.sticky-nav ul {
  gap: 30px;
  font-size: 24px;
  font-weight: 400;
}

.sticky-nav a {
  text-decoration: none;
  color: black;
}

.sticky-nav a.active {
  border-bottom: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.sticky-nav a:hover {
  border-bottom: 2px solid;
}

.showcase {
  margin-top: 16px;
}

.showcase h3 {
  font-size: 18px;
  font-weight: 400;
}

.showcase-grid {
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 50px;
}

.placeholder {
  background-image: linear-gradient(135deg, #8e8485, #70929c);
}

.Pl_S_banner {
  background-color: grey;
  height: 380px;
  /* width: 1240px; */
  /* padding: 30px 30px 30px 30px; */
  justify-content: space-between;
}

.error_message {
  color: var(--color-warning);
  font-size: 20px;
  align-self: center;
  justify-self: center;
}

.song-button {
  border: 1px solid var(--color-info);
  background-color: transparent;
  border-radius: 4px;
  padding: 3px 10px;
}

.song-button:hover {
  border: 1.1px solid var(--color-border-dark);
}

.song-button.highlighted {
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.song-button.highlighted:hover {
  border-width: 1.1px;
}

/* .cool_div {
  font-size: 13.3333px;
  padding: 5px 10px 3px;
} */
