.playlist-modal-container {
  width: 550px;
  max-height: 650px;
  overflow: hidden;
  padding: 0 10px 10px;
}

.playlist-modal-container header {
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 30px;
}

.playlist-modal-container nav {
  font-size: 24px;
  font-weight: 400;
}

.playlist-modal-container .nav-header {
  gap: 20px;
}

.nav-header li {
  padding-bottom: 5px;
}

.nav-header li.active {
  color: var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
}

.nav-header li:not(.active):hover {
  border-bottom: 2px solid;
}

.playlist-modal-search {
  border: 1px solid var(--color-border);
  margin-bottom: 10px;
}

.playlist-modal-search:focus {
  outline: none;
}

.playlist-modal-results {
  height: 550px;
  overflow-y: scroll;
  gap: 10px;
}

.playlist-modal-results li {
  gap: 10px;
}

.modal-results-left {
  height: 50px;
  width: 50px;
  border: 1px solid var(--color-border);
}

.modal-results-right {
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.modal-results-data {
  justify-content: center;
  font-size: 12px;
  gap: 5px;
}

.new-playlist-staging {
  border: 1px solid var(--color-border-light);
}

.new-playlist-staging li {
  gap: 10px;
  border-top: 1px solid var(--color-border-light);
  padding: 5px;
  font-size: 13px;
  align-items: center;
  height: 32px;
}

.new-playlist-staging li:first-child {
  border-top: none;
}

.song-row-right {
  justify-content: space-between;
  align-items: center;
}

.song-row-artist {
  color: var(--color-info);
}

.add_to_playlist_img {
  width: 60px;
}

.div_row_add_to_playlist {
  justify-content: space-between;
  margin: 15px 0px 15px 0px;
  padding-bottom: 15px;
  border-bottom: 1px solid grey;
}

.add_song_to_playlist_button {
  width: 95px;
  height: 30px;
  background-color: transparent;
  border: 1px solid lightgrey;
  border-radius: 4px;
}

.remove_song_to_playlist_button {
  width: 65px;
  height: 30px;
  color: #f50;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 4px;
}

.add_song_to_playlist_button:hover {
  border: 1.3px solid grey;
}

.remove_song_to_playlist_button:hover {
  border: 1.3px solid #f50;
}

.create_playlist_song_img {
  width: 25px;
}

.inner_create_playlist_song {
  justify-content: space-between;
}

.add_song_to_playlist_mode_container {
  border-bottom: 2px solid gray;
  font-size: 25px;
  /* padding: 10px; */
  margin-bottom: 25px;
}

.adtp_selected {
  border-bottom: 3px solid #f50;
  color: #f50;
}

.atp_p_l {
  margin-right: 5px;
}

.atp_p_r {
  margin-left: 5px;
}

.atp_tc {
  margin-bottom: 8px;
}

.atp_bc {
  margin-top: 12px;
}

.atp_ul_conatiner {
  margin-top: 25px;
}

.atp_li_container {
  border: 1px solid gray;
  list-style: none;
  padding: 5px;
}

.atp_bs {
  border: 1px solid #f50;
  color: #f50;
  border-radius: 4px;
  padding: 4px;
}

.atp_bsp {
  border: 1px solid #f50;
  color: #f50;
  border-radius: 4px;
  padding: 4px;
  text-decoration: none;
  width: 125px;
}
