.comment-two-columns {
  gap: 20px;
}

.new-comment-wrapper {
  background-color: rgb(242, 242, 242);
  height: 40px;
  align-items: center;
  margin-bottom: 10px;
}

.new-comment-placeholder {
  width: 40px;
  height: 40px;
  background-image: linear-gradient(135deg, #e6846e, #70929c);
}

.new-comment-form {
  border: 1px solid rgb(229, 229, 229);
  height: 40px;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
  width: 100%;
}

.comment-input {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  padding: 5px;
  line-height: 1.4;
  border: 1px solid #e5e5e5;
  color: #333;
  cursor: pointer;
}

.comment-input:focus {
  outline: none;
}

.user-badge .avatar {
  height: 120px;
  width: 120px;
}

.song-description {
  min-height: 150px;
  overflow: auto;
  width: 100%;
}

.song-comments-list {
  width: 100%;
}

.song-comments-list * {
  font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana,
    Tahoma, sans-serif;
  font-size: 12px;
  line-height: 1.4;
}

.comments-count {
  padding-bottom: 7px;
  border-bottom: 1px solid #f2f2f2;
  /* width: 100%; */
  align-items: flex-end;
}

.comments-count-text {
  font-size: 14px;
  line-height: 1.3;
  color: #999;
}

.no-comments {
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 500px;
  gap: 10px;
}

.no-comments h3 {
  font-size: 18px;
  font-weight: 100;
  color: var(--color-border-dark);
}

.no-comments h4 {
  font-size: 16px;
  font-weight: 100;
  color: var(--color-info);
}

.comment-card {
  padding: 10px 10px 10px 0;
  /* justify-content: space-between; */
  width: 100%;
  align-items: flex-start;
  gap: 10px;
}

.comment-avatar .avatar {
  display: block;
  width: 40px;
  height: 40px;
}

.comment-info,
.comment-info *,
.comment-meta {
  color: #999;
}

.commenter-name,
.comment-timestamp {
  font-weight: 900;
}

.comment-body {
  width: 100%;
  padding-top: 2px;
  gap: 2px;
}

.comment-body header,
.comment-main {
  justify-content: space-between;
  width: 100%;
}

.comment-content {
  width: 100%;
}

.content-edit {
  width: 100%;
  padding: 5px;
}

.content-field {
  background-color: var(--color-border-light);
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--color-border);
}

.content-field:focus,
.reply-field:focus {
  outline: none;
}

.comment-meta {
  align-items: flex-end;
  min-width: 150px;
  gap: 5px;
}

.comment-actions {
  align-items: center;
  gap: 5px;
}

.button {
  align-items: flex-end;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  cursor: pointer;
  color: #333;
  font-size: 11px;
  padding: 2px 9px 2px 8px;
  height: 22px;
  line-height: 16px;
  gap: 4px;
}

.button:hover {
  border-color: #999;
}

.edit-icon {
  position: relative;
  bottom: -1px;
}

.reply-icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALRJREFUGNNjYCAexMnhkYyxTHiJUzIqIeFX/n+sUhHMEZMT/ucBIRbJMKHw3Un/s8Ew7H/Y27CTYe1h0gi9+5L+Z8Bh2v+U/3H/w74Eu0Kl30xueZ/2HxWm/o/4GqQIlv7P+3Py7CfJ/0Hw//7Ph2+cOXhl0ouMP3HzoPr/s/zP23Ar6W8C0Gn/uf+r/bf/X/liX+MhJAf+Dzx7Ju0XEl/kVTmKD/7rP9qDwudG8+J/SQaqAgBt9GUu05AvWgAAAABJRU5ErkJggg==);
  width: 16px;
  height: 16px;
}

.delete-icon {
  background-image: url(https://a-v2.sndcdn.com/assets/images/delete-d90bf5e4.svg);
  width: 16px;
  height: 16px;
}

.delete-confirm .button:hover,
.yes-delete.button:hover {
  border-color: #e30;
}

.confirm-delete-form {
  position: absolute;
  width: 200px;
  background-color: white;
  z-index: 5;
  top: 5px;
  right: 0px;
  border: 1px solid #e5e5e5;
  padding: 10px;
}

.confirm-delete-form p {
  color: #333;
  margin-bottom: 5px;
}

.confirm-delete-buttons {
  justify-content: flex-end;
}

.nested-comment {
  margin-left: 4em;
}

.reply-field {
  font-size: 1em;
  width: 100%;
  background-color: var(--color-border-light);
  border: none;
  border-radius: 2em;
  padding: 1em 2em;
  color: var(--color-border-dark);
}

.comment-like {
  padding: 0 .5em;
  align-items: center;
}

.like-button-on {
  filter: var(--filter-primary);
}