.sidebar-container {
  border-left: 2.5px solid var(--color-off-white-bg);
  margin-left: 25px;
  align-items: center;
  padding-top: 20px;
  position: sticky;
  top: 50px;
}

.mainfeed-section {
  width: 100%;
  margin: 20px 0 25px;
  padding-bottom: 15px;
  border-bottom: 2px solid var(--color-border);
}

.mainfeed-section>h2 {
  font-size: 24px;
  font-weight: 100;
}

.mainfeed-section>h3 {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 10px;
}

.carousel-wrapper {
  padding: 0 30px 20px;
}

.slick-prev:before,
.slick-next:before {
  color: var(--color-primary);
}

.sidebar-text {
  width: max-content;
  margin: 20px auto;
}

.techs {
  width: 200px;
  overflow-x: scroll;
  gap: 10px;
}

.tech-icon img {
  width: 60px;
  height: 60px;
}
