.playlist-summary {
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  box-sizing: border-box;
  border-radius: 50%;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  gap: 5px;
}

.playlist-summary h1 {
  font-size: 2.5em;
}

.playlist-two-columns {
  gap: 20px;
}

.playlist-songs-list {
  width: 100%;
  margin-top: 20px;
  max-height: 80%;
  overflow-y: scroll;
}

.playlist-songs-list li {
  list-style: none;
  padding: 10px;
  border-bottom: 1.5px solid lightgrey;
}

.playlist-songs-list li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.song-row {
  width: 650px;
  height: 30px;
  font-size: 12px;
  color: var(--color-border-dark);
}

.song-row-content,
.song-row-overlay {
  width: 100%;
}

.song-row-overlay {
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  background-color: transparent;
}

.song-row-overlay .song-row-play,
.song-row-overlay .mini-asset-button-group {
  opacity: 0;
}

.song-row-overlay:hover .song-row-play,
.song-row-play.standout,
.song-row-overlay:hover .mini-asset-button-group {
  opacity: 1;
}

.song-row-content {
  gap: 15px;
  position: relative;
}

.song-row-play,
.mini-asset-button-group {
  z-index: 10;
}

.song-row-thumb {
  background-size: cover;
}

.song-row-title:hover {
  color: var(--color-border-dark);
}

.song-row-thumb,
.song-row-square {
  height: var(--dim-song-row-thumb);
  width: var(--dim-song-row-thumb);
}

.song-row-square {
  justify-content: center;
  align-items: center;
}

.song-row-play {
  color: var(--color-primary);
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 10px;
}

.song-row-play:hover {
  color: var(--color-primary);
}

.user-badge {
  margin-top: 19px;
  margin-bottom: 50px;
  align-items: center;
  gap: 20px;
}

.mini-asset-button-group {
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: 10px;
  gap: 5px;
}
